// --main-color: #1d1d1d;
// --second-color: #3a3a3a;
// --txt-color: #bbbbbb;
// --txt-white: #ffffff;
// --bg-black: #000;
// --header-height: 144px;
// --header-padding: 93px;

$main-bg: #1d1d1d;
$main-color: #fff;
$second-color: #3a3a3a;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;

$txt-main-color: #bbbbbb;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$txt-black: #000;

$btn-main-bg: #bc8420;
$btn-main-color: $main-color;
$btn-second-color: $second-color;

$header-height: 144px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;
$border-radius: 15px;

//$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main": #bc8420,
    "red": #ff0000
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
